/**gongong**/
body,ul,ol,li,p,h1,h2,h3,h4,table,td,th,form,fieldset,img,dl,dt,dd,input,select,bottom{margin:0;padding:0;}
body{font-family: arial,"宋体B8B\4F53";font-size: 13px;}
li{list-style: none;}
a{text-decoration:none;color: #3E3E3E;}
a:hover{text-decoration:none;color: #FF6347;}

/*img,input,li{ vertical-align:middle;}*/

.dogo-wp{ width:990px; margin:0 auto;}
.dogo-border{border: 1px solid #ccc;}/*临时设置最小高度*/
.dogo-pdtop1{padding-top: 5px;}
.dogo-pdtop2{padding-top: 10px;}
.dogo-pd10{padding: 10px;}
.dogo-pd15{padding: 15px;}
.dogo-mr15{margin-right: 15px;}
.blank{ margin-bottom:10px;}

.dogo-ft{float: left;display: inline;}
.dogo-rt{float: right;display: inline;}

/*dogo-lemon 柠檬色*/
.dogo-lemon{background: rgb(247,208,67);}
.dogo-rgba-lemon{background: rgba(247,208,67,0.5);}
/*dogo-orange 橙色*/
.dogo-orange{background: rgb(232,92,51);}
.dogo-rgba-orange{background: rgba(232,92,51,0.5);}

/*dogo-gray 灰色*/
.dogo-gray{background: rgb(239,237,235);}
.dogo-rgba-gray{background: rgba(239,237,235,0.5);}

/*dogo-purple 紫色*/
.dogo-purple{background: rgb(54,17,100);}
.dogo-rgba-purple{background: rgba(54,17,100,0.5);}

/*dogo-light-green 浅绿色*/
.dogo-light-green{background: rgb(31,166,122);}
.dogo-rgba-light-green{background: rgba(31,166,122,0.5);}

/*dogo-blue 蓝色*/
.dogo-blue{background: rgb(45,137,239);}
.dogo-rgba-blue{background: rgba(45,137,239,0.5);}

/*dogo-black 黑色*/
.dogo-black{background: rgb(23,26,31);}
.dogo-rgba-black{background: rgba(23,26,31,0.5);}

/*dogo-blue-bk 黑色背景图片*/
.dogo-black-bk{width: 100%;height: 814px;display: block;overflow: hidden;background: #171a1f url(../images/ab_bk.png) repeat-x 0 -63px;}

.dogo-radius{border: solid 6px rgba(255,255,255,1);
             -webkit-border-radius: 200px;
             -moz-border-radius: 200px;
             -o-border-radius: 200px;
             border-radius: 200px;
}



.dogo-title-bt{border: 1px solid #ccc;border-bottom: 1px solid #FF6347;
               -webkit-border-radius: 4px 4px 0 0;
               -moz-border-radius: 4px 4px 0 0;
               border-radius: 4px 4px 0 0;}
.dogo-box-content{height: auto;}

/*border*/
.dogo-border-notop{border: 1px solid #ccc;border-top: none;-webkit-border-radius: 0 0px 4px 4px;-moz-border-radius: 0px 0px 4px 4px;border-radius: 0px 0px 4px 4px;}
.dogo-border-nobottom{border: 1px solid #ccc;border-bottom: none;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
.dogo-border-all{border: 1px solid #ccc;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;}


.dogo-box-header{padding-left: 8px;height: 35px;}
.dogo-box-header li.dogo-title-h{float: left;line-height: 35px;min-width: 80px;}
.dogo-box-header li.dogo-more{width: 50px;line-height: 35px;float: right;}


/*thumbnails*/

.dogo-box-content .thumbnails{padding-left: 25px;padding-top: 5px;padding-bottom: 5px;}
.dogo-box-content .thumbnails li{width: 134px;height: auto;float: left;margin: 5px;}
.dogo-box-content .thumbnails img{width: 124px;height: 115px;}
.dogo-box-content .thumbnails h3{height: 30px;line-height: 35px;overflow: hidden;font-size: 13px;overflow: hidden;text-align: center;font-weight: 500;}


.dogo-box-text{padding: 5px 10px;}
.dogo-box-text li{height: 25px;line-height: 25px; overflow: hidden;background: url(../images/icon_org.jpg) left center no-repeat;padding-left: 10px;}

.dogo-box-text2{height: auto;overflow: hidden;padding: 5px 10px;}
.dogo-box-text2 li{width: 165px;float: left;height: 25px;line-height: 25px; overflow: hidden;background: url(../images/icon_org.jpg) left center no-repeat;padding-left: 10px;}
.dogo-box-text2 li:nth-of-type(odd){margin-right: 5px;}

.dogo-box-rank{height: auto;overflow: hidden;padding: 5px 10px;}
.dogo-box-rank li{height: 25px;line-height: 25px; overflow: hidden;}
.dogo-box-rank li .rank-no{width: 18px;height: 17px;display: block;float: left;margin-top: 4px;line-height: 17px;margin-right: 5px;text-align: center;font-style: initial;}
.dogo-box-rank li a{}
.dogo-box-rank li i:nth-of-type(1){border: 1px solid #ccc;-webkit-border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;}
.dogo-box-rank li:nth-of-type(1) .rank-no,.dogo-box-rank li:nth-of-type(2) .rank-no,.dogo-box-rank li:nth-of-type(3) .rank-no{border: 1px solid #FF6347;background: #FF6347;color: #fff;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;}




.dogo-box-textno{padding: 5px 10px;}
.dogo-box-textno h3{text-align: center;height: 40px;}
.dogo-box-textno p{height: 60px;line-height: 22px;overflow: hidden;padding-bottom: 5px;text-indent: 25px;overflow: hidden;}

.block2{width: 120px;float: left;height: 150px;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}
/*.breadcrumb */
.breadcrumb {margin: 0;}
