/**gongong**/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,th,form,fieldset,img,dl,dt,dd,input,select,bottom{margin:0;padding:0;}
body{font-family: arial,"宋体B8B\4F53";font-size: 13px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
li{list-style: none;}
a{text-decoration:none;color: #3E3E3E;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
a:hover{text-decoration:none;color: #FF6347;}

/*img,input,li{ vertical-align:middle;}*/

.dogo-wp{}
.dogo-border{border: 1px solid #ccc;}/*临时设置最小高度*/
.dogo-pdtop1{padding-top: 5px;}
.dogo-pdtop2{padding-top: 10px;}
.dogo-pd10{padding: 10px;}
.dogo-pd510{padding:5px 10px;}
.dogo-pd515{padding:5px 15px;}
.dogo-pd15{padding: 15px;}
.dogo-mr15{margin-right: 15px;}
.dogo-blank{ height:10px;margin: 0;padding: 0;}
.cursor{cursor:pointer;}
.dogo-flt{float: left;display: inline;}
.dogo-frt{float: right;display: inline;}

/*dogo-bg-gray*/
.dogo-bg-gray{background-color: #eae8ee;border-radius: 5px;}
.dogo-bg-white{background-color: #fff;}
.dogo-radius{border: solid 6px rgba(255,255,255,1);
             -webkit-border-radius: 200px;
             -moz-border-radius: 200px;
             -o-border-radius: 200px;
             border-radius: 200px;
}
.dogo-title-bt{border: 1px solid #ccc;border-bottom: 1px solid #FF6347;
               -webkit-border-radius: 4px 4px 0 0;
               -moz-border-radius: 4px 4px 0 0;
               border-radius: 4px 4px 0 0;}

/*color*/
.dogo-color-white{color: white;text-shadow: none;}
.dogo-align-center{text-align: center;}
.dogo-align-right{text-align: right;}
/*border*/
.dogo-border-notop{border: 1px solid #ccc;border-top: none;-webkit-border-radius: 0 0px 4px 4px;-moz-border-radius: 0px 0px 4px 4px;border-radius: 0px 0px 4px 4px;}
.dogo-border-nobottom{border: 1px solid #ccc;border-bottom: none;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
.dogo-border-all{border: 1px solid #D6CDCD;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;}
.dogo-border-all{
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);}


/*dogo-box*/
.dogo-box{height: auto;}
.dogo-box-header{ margin: 5px 0;line-height: 30px;}
.dogo-box-header h5{}
.dogo-box-content{color: #706C6C;}
.dogo-box-content p{font-size: 14px;}
.dogo-box-footer{margin: 10px 5px;height: auto;line-height: 20px;}



.pagination .current{color: #ff7171;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}


/*会员中心菜单style*/
.dogo-sidebar{}
.dogo-sidebar a{text-indent: 15px;}
.dogo-sidebar a span.badge{text-indent: 0;}
.dogo-divider{height: 1px;margin: 9px 0;overflow: hidden;background-color: #e3e3e3;}
.dogo-nav-header{font-weight: bold;}
a.dogo-nav-header{text-indent: 5px;}

.dogo-sidebar .list-group a.list-group-item:hover,
.dogo-sidebar .list-groupa.list-group-item:focus {text-decoration: none;background-color: #fc8043;border-color: #fc8043;color: #fff;}

.dogo-sidebar .list-group a.list-group-item.active,
.dogo-sidebar .list-group a.list-group-item.active:hover,
.dogo-sidebar .list-group a.list-group-item.active:focus {z-index: 2;color: #fff;background-color: #ff5400;border-color: #ff5400;}
.dogo-sidebar .list-group .list-group-item.active,
.dogo-sidebar .list-group .list-group-item.active:hover,
.dogo-sidebar .list-group .list-group-item.active:focus {
    text-shadow: 0 -1px 0 #ff5400;
    background-image: -webkit-linear-gradient(top,#ff5400 0,#ff5400 100%);
    background-image: linear-gradient(to bottom,#ff5400 0,#ff5400 100%);
    background-repeat: repeat-x;
    border-color: #ff5400;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5400',endColorstr='#ff5400',GradientType=0);
}
/*会员登录*/
.dogo-input {margin: 5px 0;}
.dogo-member{background-color: #eae8ee;border-radius: 5px;padding: 20px;overflow: hidden;}
.dogo-member .btn-default{background: #ff5400;background-image: linear-gradient(to bottom,#ff5400 0,#ff5400 100%);
                          background-repeat: repeat-x;border-color: #ff5400;}
.dogo-member .btn-default:hover,.dogo-member .btn-default:focus {background-color: #fc8043;border-color: #fc8043;background-position: 0 -45px;color: #fff;}
.dogo-member p{line-height: 25px;overflow: hidden;}


