/*page*/
.dogo-page {}



.dogo-header .dogo-header-navbar{
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F323A', endColorstr='rgba(0, 0, 0, 0.69)', GradientType=0);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border: inset 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.8);
    box-shadow: 0 0 1px rgba(255,255,255,0.8);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    
}
.dogo-header .dogo-header-navbar a,.dogo-header .dogo-header-navbar .navbar-nav>li>a{text-shadow: 0 1px 0 rgba(255,255,255,.25);color: #000;}
.dogo-header-navbar a:hover,.dogo-header-navbar .navbar-nav>li>a:hover,.dogo-header-navbar .navbar-nav>li>a:focus{}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus{}

.dropdown-menu {}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-image: -webkit-linear-gradient(top,#0796C3 0,#0796C3 100%);
    background-image: linear-gradient(to bottom,#0796C3 0,#0796C3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0796C3', endColorstr='#0796C3', GradientType=0);
    background-color: #0796C3;
}


.dogo-bg{background: rgba(255, 255, 255, 0);}

/*侧栏页*/
aside .dogo-text{background: none;padding: 0;margin: 0;border:none;}
aside .dogo-text .dogo-text-header a{}
aside .dogo-text li a{}

aside ul.dogo-text-more li a:hover{color: #EEE9E9;}
/*内容页*/
.dogo-view>p{background: none;}


.dogo-view .dogo-wei-mp{}
.dogo-view .dogo-wei-mp ul{}
.dogo-view .dogo-wei-mp li{margin: 10px 0;}
.dogo-view .dogo-wei-mp li img{width: 45px;height: 45px;border: 1px solid #ccc;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.dogo-view .dogo-wei-mp li b{margin-right: 20px;}

@media (min-width: 1200px){
    .container {width: 100%;}
}
@media(min-width:768px){

}
@media(max-width:768px){

}

@media(min-width:768px){

}
@media(max-width:768px){

}

