/**gongong**/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,th,form,fieldset,img,dl,dt,dd,input,select,bottom{margin:0;padding:0;}
body{font-family: arial,"宋体B8B\4F53";font-size: 13px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
li{list-style: none;}
a{text-decoration:none;color: #3E3E3E;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
a:hover{text-decoration:none;color: #FF6347;}

/*img,input,li{ vertical-align:middle;}*/

.dogo-wp{ }
.dogo-border{border: 1px solid #ccc;}/*临时设置最小高度*/
.dogo-pdtop1{padding-top: 5px;}
.dogo-pdtop2{padding-top: 10px;}
.dogo-pd0{padding: 0px;}
.dogo-pd10{padding: 10px;}
.dogo-pd510{padding:5px 10px;}
.dogo-pd515{padding:5px 15px;}
.dogo-pd15{padding: 15px;}
.dogo-mg0{padding: 0px;}
.dogo-mr15{margin-right: 15px;}
.dogo-blank{ height:10px;margin: 0;padding: 0;}

.dogo-flt{float: left;display: inline;}
.dogo-frt{float: right;display: inline;}

/*dogo-bg-gray*/
.dogo-bg-gray{background-color: #eae8ee;border-radius: 5px;}

.dogo-radius{border: solid 6px rgba(255,255,255,1);
             -webkit-border-radius: 200px;
             -moz-border-radius: 200px;
             -o-border-radius: 200px;
             border-radius: 200px;
}
.dogo-title-bt{border: 1px solid #ccc;border-bottom: 1px solid #FF6347;
               -webkit-border-radius: 4px 4px 0 0;
               -moz-border-radius: 4px 4px 0 0;
               border-radius: 4px 4px 0 0;}

/*color*/
.dogo-color-white{color: white;text-shadow: none;}
.dogo-align-center{text-align: center;}
.dogo-align-right{text-align: right;}
/*border*/
.dogo-border-notop{border: 1px solid #ccc;border-top: none;-webkit-border-radius: 0 0px 4px 4px;-moz-border-radius: 0px 0px 4px 4px;border-radius: 0px 0px 4px 4px;}
.dogo-border-nobottom{border: 1px solid #ccc;border-bottom: none;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
.dogo-border-all{border: 1px solid rgba(255, 252, 252, 0.49);-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;}
.dogo-border-all{
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);}


/*dogo-box*/
.dogo-box{height: auto;}
.dogo-box-header{ margin: 5px 0;line-height: 30px;color: #fff;}
.dogo-box-header a{color: #fff;}
.dogo-box-header a:hover{color: #e6e6e6;}
.dogo-box-header h5{}
.dogo-box-content{color: #fff;}
.dogo-box-content p{font-size: 14px;}
.dogo-box-footer{margin: 10px 5px;height: auto;line-height: 20px;}

/*分页代码*/
.pagination>li>a, .pagination>li>span{
    color: #fff;
    background-color: rgba(238, 238, 238, 0.13);
    border-color: rgba(221, 221, 221, 0.45);

}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #FCFEFF;
    background-color: rgba(250, 247, 247, 0.27);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.pagination .current{color: #9FF508;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}

.dogo-box-footer .btn-default{
    background-image:none;
    background: rgba(9, 183, 250, 0.58);
    text-shadow: none;
    border-color: rgba(255, 255, 255, 0.52);
    color: #fff;
}


.dogo-dialog-modal .modal-content{border: 10px solid rgba(48, 48, 48, 0.7);border-radius: 8px;box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);}
.dogo-modal-title{}
.dogo-modal-title .on{margin-left:20px;margin-right:20px;padding-left: 20px;padding-right: 20px;}
.dogo-modal-title .noon{font-size: 13px;}
.dogo-error-border{border:1px solid #f00;}

.dogo-links{}
.dogo-links a{margin: 0 5px;}


/*dogo-lemon 柠檬色*/
.dogo-lemon{background: rgb(247,208,67);}
.dogo-rgba-lemon{background: rgba(247,208,67,1);}
/*dogo-orange 橙色*/
.dogo-orange{background: rgb(232,92,51);}
.dogo-rgba-orange{background: rgba(232,92,51,1);}

/*dogo-gray 灰色*/
.dogo-gray{background: rgb(239,237,235);}
.dogo-rgba-gray{background: rgba(239,237,235,1);}

/*dogo-purple 紫色*/
.dogo-purple{background: rgb(54,17,100);}
.dogo-rgba-purple{background: rgba(54,17,100,1);}

/*dogo-light-green 浅绿色*/
.dogo-light-green{background: rgb(31,166,122);}
.dogo-rgba-light-green{background: rgba(31,166,122,1);}

/*dogo-blue 蓝色*/
.dogo-blue{background: rgb(45,137,239);}
.dogo-rgba-blue{background: rgba(45,137,239,1);}

/*dogo-black 黑色*/
.dogo-black{background: rgb(23,26,31);}
.dogo-rgba-black{background: rgba(23,26,31,1);}
/*dogo-pink 粉色*/
.dogo-pink{background: #EF4372;}
.dogo-rgba-pink{background: rgba(23,26,31,1);}


/*dogo-text*/
.dogo-text{border-radius: 4px;background: #fff;padding: 5px 8px;margin: 5px 0px;border:1px solid rgba(204, 204, 204, 0.57);}
.dogo-text-header{color: #000;}
.dogo-text-header h3{font-size: 18px;line-height: 30px;text-overflow:ellipsis;overflow: hidden;}
.dogo-text-header h3 a{color: #000;}
.dogo-text-header h3 a:hover{color: #FF6347;}
.dogo-text-header p{font-size: 13px;line-height: 20px; padding: 5px 0;}

ul.dogo-text-onelines{}
ul.dogo-text-onelines li{height: 25px;line-height: 25px;overflow: hidden;text-overflow:ellipsis;}
ul.dogo-text-onelines li a{color: #000;font-size: 14px;}
ul.dogo-text-onelines li a:hover{color: #FF6347;}

ul.dogo-text-more{height: auto;overflow: hidden;}
ul.dogo-text-more li{display: block;float: left;margin: 5px 8px;}

.dogo-text-twolines{}

.dogo-text-links a{margin: 0 5px;line-height: 28px;}


@media(min-width:767px){

}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color: #ccc;}

/*内容区评论*/
.dogo-list-comment a{color: #fff;}
.dogo-list-comment a:hover{color: #BCE1FA;}
.dogo-textarea{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.54);
}

.dogo-dialog-modal img{max-width: 100%;}
