
/*page*/
.dogo-page {height:auto;}

.dogo-navbar{}
.dogo-navbar .navbar-toggle {margin-top:20px;}
/*override*/

.dogo-navbar .navbar-brand{line-height: 30px;color: #000;font-size: 16px;}
.dogo-navbar a:hover.navbar-brand{color: #000;}
.dogo-navbar .navbar-nav>li>a{line-height: 30px;font-size: 16px;color: #000;}
.dogo-navbar .navbar-nav>li>a:hover{color:#000;}
/*dogo-box*/
.dogo-box{}
.dogo-box-header{}
.dogo-box-header h3{font-size: 15px;line-height: 30px;padding-left: 15px;}

/*dogo-top*/
.dogo-top{height:32px;background:#ccc;}
.dogo-top-nav li{margin: 0 5px;}
.dogo-top-nav li>a{padding:0;margin:0;color:#000;line-height: 30px;}
.dogo-top-nav ul>li>a:hover, .dogo-top-nav >li>a:focus{color:#FF6347;background:none;}
/*header*/
.dogo-header{background: #FF6600;border-bottom: #FF3300 1px solid;}
.dogo-header .navbar{border-radius: 5px 5px 0 0;}
.navbar-default{border:none;}
/*dogo-header-top*/
.dogo-header-top{height: 150px;}
.dogo-header-top h2{font-size: 30px;color: #fff;line-height: 150px;text-align: center;}
/*dogo-navbar*/
.dogo-navbar{-webkit-box-shadow:none;box-shadow:none;background: #fff;}

/*dogo-nav*/
.dogo-nav{}
.navbar{margin-bottom: 0;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {/*background-color: #9A67E5;color: #FFF;*/}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {/*color: #444;
                                                      background-image: -webkit-linear-gradient(top,#444 0,#444 100%);
                                                      background-image: linear-gradient(to bottom,#444 0,#444 100%);
                                                      background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7E4FC3', endColorstr='#ff7E4FC3', GradientType=0);*/
    background-color: #f0f0f0;}
.dropdown-menu>li>a {color: #444;line-height: 30px;}
.dropdown-menu {background-color: #fff;border: 1px solid #FF6600;}
.dogo-nav-form{margin-top: 15px;}
.dogo-nav-form .form-control{border: 1px solid #ddd;}
.dogo-nav-form .btn-default{border: 1px solid #ddd;background-color: #EDEDED;}
/*dogo-notice*/
.dogo-notice{min-height: 35px;line-height: 35px;}

/*dogo-flash*/
.dogo-flash{height: auto;}
.dogo-flash img{height: 300px;}

/**/
.dogo-text{}
.dogo-text ul{}
.dogo-text ul li{height: 22px;line-height: 22px;overflow: hidden;}
.dogo-text ul li a{margin-left: 4px;}

.dogo-single-text{}
.dogo-single-text h1{max-height: 30px;font-size: 17px;line-height: 30px;overflow: hidden;text-align: center;}
.dogo-single-text p{font-size: 14px;line-height: 20px;max-height: 40px;color: #646363;margin-bottom: 8px;text-indent: 25px;overflow: hidden;}


.dogo-list-text{}
.dogo-list-text ul{}
.dogo-list-text ul li{min-height: 125px;border-bottom: dashed #E4E2E2 1px;margin: 4px 0 9px 0;padding-bottom: 5px;}
.dogo-list-text ul li:last-of-type{border-bottom: none;}
.dogo-list-text ul li h3{font-size: 18px;line-height: 35px;font-weight: 500;overflow: hidden;font-family: "微软雅黑", "Microsoft Yahei";}
.dogo-list-text ul li p{color: #000;line-height: 20px;max-height: 60px;overflow: hidden;font-size: 12px;}
.dogo-list-text ul li h6{line-height: 25px;color: #868686;}
.dogo-list-text ul li h6 span{margin: 0 2px 0 5px;}



/*dogo-list-news*/

.dogo-list-news .dogo-tip{background: #F05050;padding: 3px 5px;}
.dogo-list-news .dogo-tip a{color: #fff;}
.dogo-list-news .dogo-tip a:hover{color: #f3f3f3;}
.dogo-list-news .dogo-box-header h3{font-size: 15px;line-height: 30px;padding-left: 15px;display: inline;}
.dogo-list-news .dogo-box-content{}
.dogo-list-news .dogo-box-content{}
.dogo-list-news .dogo-box-footer{border-bottom: 1px dashed rgba(204, 204, 204, 0.48);}
.dogo-list-news .dogo-box-footer p{color: #999;}


/*dogo-view-title*/
.dogo-view-title{height: auto;border-bottom: 1px solid #f2f2f2; padding: 5px 0;}
.dogo-view-title h4{line-height: 25px;font-size: 18px;color: #000;}
.dogo-view-title p{line-height: 20px;color: #cc4026;font-weight: bold;padding-top: 5px;}

.dogo-view-info{}
.dogo-view-info p{line-height: 25px;margin: 5px 0;}
.dogo-view-info p span{margin-left: 15px;font-size: 15px;margin-right: 5px;}
.dogo-view-info p span.price{text-decoration:line-through;}

/*.dogo-view-info*/
.dogo-view-info .dogo-box-header{height: auto;}
.dogo-view-info .dogo-box-header h1{font-size: 22px;line-height: 40px;font-weight: bold;font-family: 微软雅黑;}
.dogo-view-info .dogo-box-header p{color: #999;}


.dogo-slide{margin-left: -10px;
margin-right: -10px;}
/*dogo-footer*/
/*dogo-footer*/
.dogo-footer{height: 50px;text-align: center;background: #000;}
.dogo-footer p{line-height: 50px;color: #fff;}

.dogo-footer nav{text-align: left;line-height: 25px;margin-bottom: 30px;}
.dogo-footer nav a{margin: 0 8px;}

.dogo-thumbnail{height: 260px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);box-shadow: 1px 1px 5px rgba(0,0,0,.085);
               border: 0px;overflow: hidden;margin-bottom: 10px;}
.dogo-thumbnail-pic>a>img{width:187px;height:220px;}

.dogo-thumbnail-footer{}
.dogo-thumbnail-footer h3 a{color: #000;font-size: 18px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
.dogo-thumbnail-footer h3{
    height: 35px;line-height: 30px;padding: 0 8px;overflow: hidden;
    -webkit-transform: rotate(0deg) translate(0px,0px);
    -moz-transform: rotate(0deg) translate(0px,0px);
    -o-transform: rotate(0deg) translate(0px,0px);
    transform: rotate(0deg) translate(0px,0px);
    -webkit-transition:all 1s ease-in-out .5s;
    -moz-transition: all 1s ease-in-out .5s;
    -o-transition:all 1s ease-in-out .5s;
    transition:all 1s ease-in-out .5s;
}
.dogo-thumbnail-footer p{
    height: 55px;line-height: 23px;padding: 5px 8px;overflow: hidden;
    background: rgba(250,250,250,0.9);
    -webkit-transform: rotate(0deg) translate(0px,0px);
    -moz-transform: rotate(0deg) translate(0px,0px);
    -o-transform: rotate(0deg) translate(0px,0px);
    transform: rotate(0deg) translate(0px,0px);
    -webkit-transition:all 1s ease-in-out .5s;
    -moz-transition: all 1s ease-in-out .5s;
    -o-transition:all 1s ease-in-out .5s;
    transition:all 1s ease-in-out .5s;
}


.dogo-thumbnail:hover .dogo-thumbnail-footer h3{
    -webkit-transform: rotate(0deg) translate(0px,-55px);
    -moz-transform: rotate(0deg) translate(0px,-55px);
    -o-transform: rotate(0deg) translate(0px,-55px);
    transform: rotate(0deg) translate(0px,-55px);
    -webkit-transition:all 1s ease-in-out .5s;
    -moz-transition: all 1s ease-in-out .5s;
    -o-transition:all 1s ease-in-out .5s;
    transition:all 1s ease-in-out .5s;
}
.dogo-thumbnail:hover .dogo-thumbnail-footer p{
    -webkit-transform: rotate(0deg) translate(0px,-55px);
    -moz-transform: rotate(0deg) translate(0px,-55px);
    -o-transform: rotate(0deg) translate(0px,-55px);
    transform: rotate(0deg) translate(0px,-55px);
    -webkit-transition:all 1s ease-in-out .5s;
    -moz-transition: all 1s ease-in-out .5s;
    -o-transition:all 1s ease-in-out .5s;
    transition:all 1s ease-in-out .5s;
}



@media(min-width:768px){
}
@media (min-width: 1200px){
    .dogo-wp {width: 1200px;}
}
@media(max-width:768px){
}
@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #000;
	}
	.dogo-navbar .navbar-nav>li>a{line-height: 25px;}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		color: #F3EFEF;
		background-color:#5EA8F8;
	}
}

